


#ScudalHeading{
    position: relative;
    left: 10px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#SelectDate{
    position: relative;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.slotScreen{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    gap: 50px;
}
.week{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    width: 100%;
}
.dayName{
    height: 75px;
    width: 45px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20xp;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    cursor: pointer;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 90%;

}

#patient{
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;

}
.info{
    height: 50px;
    width: 90%;
    
}


.personalInfo{
    height: inherit;
    width: inherit;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: large;
    font-weight: 600;
    font-style: italic;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.book{
    background-color: #50c879;
    color: white;
    font-size: large;
    font-weight: 600;
    margin-right: 3cap;
}