.slotScreen {
    position: relative;
  }
  
  .timePopup {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
  }
  
  .popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .rowDisplay {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin: 20px;
  }
  
  .HourTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 2px;
  }
  
  .MinTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 2px;
  }
  
  .timeName {
    font-size: x-large;
  }
  
  .lableValue {
    width: 100%;
    height: 50px; 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    background-color: black; 
    border: 1px solid #ccc; 
    padding: 5px;
    text-align: center; 
  }
  
  .midCloum {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #colun {
    margin-top: 20px;
    font-size: xxx-large;
  }
  
  .close-popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2.5em;
    background: #8cbd32;
    color: aliceblue;
    border-bottom-left-radius: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  